* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    
}
hr {
    height: 10px;
    background: rgba(0,0,0,0.1);
    outline: none;
    border: none;
}
nav{
    padding: 15px 100px;
}
.main {
    padding: 0 100px;
}

    nav h3 {
        padding: 10px;
    }
nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    nav > ul > li {
        position: relative;
        font-weight: 600;
        padding: 10px;
        }
        
            nav > ul > li a:hover, nav > ul > li > a.active {
                background: white;
                color: purple;
            }
            
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: auto;
                padding: 100px 20px 20px 30px;
            }
            .content h1 {
                font-weight: 900;
                color: rgb(4, 85, 112);
                margin-bottom: 20px;
            }
            .content p {
                margin-bottom: 20px;
            }
            .image-content {
                padding: 15px;
            }
            .image-content img {
                width: 100%;
                height: auto;
            }
            .b1{
                background-color: blue;
                color: white;
                border: none;
            }
            .b2{

                background-color:white;
                color: black;
                border: 1px solid #000;
            }
            .b1, .b2 {
                width: 47%;
                padding: 15px;
                font-size: 11px;
                outline: none;
                border-radius: 20px;
            }
.button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.p{
    margin-top: 2rem;
    text-align: center;
}
